<h1>I'm not used</h1>
<p>I'm a very fat components with heavy scripting</p>

<script>
  console.log(
    "[AAAGGGGGG] This script should never be sent to the client nor be executed!!!!"
  );
</script>
